.container {
    position: relative;
}

.colorContainer {
    background: linear-gradient(92.33deg, #087990 0.12%, #055160 100%);
    padding-top: 68px;
    padding-bottom: 100px;
    margin: 0;
}

.cardsContainer {
    padding: 80px 227px 40px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 19px
}

.item {
    padding: 24px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
}

.title {
    text-align: center;
    color: #CFF4FC;
    font-weight: 700;
    font-size: 72px;
    line-height: 100%;
    margin: 0;
}

.subtitle {
    text-align: center;
    color: #CFF4FC;
    font-weight: 400;
    font-size: 21px;
    line-height: 36px;
    margin-top: 4px;
}

.keywords {
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #3F444A;
}

.symbol {
    font-size: 48px;
    margin-bottom: 18px;
}

.symbolTitle {
    font-weight: 700;
    font-size: 17px;
    line-height: 28px;
    letter-spacing: 0%;
    text-decoration: underline;
    text-decoration-style: solid;
    margin-bottom: 12px;
}

.input {
    max-width: 788px;
    width: 100%;
    padding: 22px 32px;
    border: none;
    position: absolute;
    font-size: 24px;
    right: 50%;
    transform: translateX(50%);
    top: 263px
}

.input::placeholder {
    color: #ABB5BE;
    font-weight: 400;
}