.item {
    padding: 24px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
}

.keywords {
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #3F444A;
}

.symbol {
    font-size: 48px;
    margin-bottom: 18px;
}

.symbolTitle {
    font-weight: 700;
    font-size: 17px;
    line-height: 28px;
    letter-spacing: 0%;
    text-decoration: underline;
    text-decoration-style: solid;
    margin-bottom: 12px;
}